<div class="list-group">  
    <%= link_to 'News', root_path %>                      <a href="#" class="list-group-item"></a>
                          <a href="#" class="list-group-item">Tutorials</a>
                          <a href="#" class="list-group-item">Releases</a>
                          <a href="#" class="list-group-item">Events</a>
</div>