<div class="well">
                    <h2 class="page-header">Manage Posts <a href="new.html" class="pull-right btn btn-success">Add New</a></h2>
                    <table class="table table-striped">
                      <tr>
                        <th>Post Tiltle</th>
                        <th>Categories</th>
                        <th>Actions</th>
                      </tr>
                      <tr>
                        <td>Post Number One</td>
                        <td>News</td>
                        <td><a href="#" class="btn btn-primary">Edit</a> | 
                            <a href="#" class="btn btn-danger">delete</a></td>
                      </tr>
                      <tr>
                        <td>Post Number Two</td>
                        <td>Tutorials</td>
                        <td><a href="#" class="btn btn-primary">Edit</a> | 
                            <a href="#" class="btn btn-danger">delete</a></td>
                      </tr>
                      <tr>
                        <td>Post Number Three</td>
                        <td>Releases</td>
                        <td><a href="#" class="btn btn-primary">Edit</a> | 
                          <a href="#" class="btn btn-danger">delete</a></td>
                      </tr>
                      <tr>
                        <td>Post Number Four</td>
                        <td>Events</td>
                        <td><a href="#" class="btn btn-primary">Edit</a> | 
                            <a href="#" class="btn btn-danger">delete</a></td>
                      </tr>
                      
                      
                    </table>
                    
                    </div>
                </div>